* {
  box-sizing: border-box;
}

a {
  color: initial;
  text-decoration: none;
}

input:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
}

button {
  cursor: pointer;
}
